@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #131315;
    font-family: var(--font-style);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px 0 45px;
    color: #ffff;
}

nav ul li {
    list-style: none;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}

nav button {
    padding: 10px 20px;
    color: #C8BDDB;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    border: 1px solid #8F7CEC;
    background: transparent;
}

nav button:hover {
    background: #8F7CEC;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 58px #8F7CEC;
}

.container h1{
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    color: #fff;
}

.home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #242026;
    box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
    border-radius: 10px;
}

.home-container p {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    line-height: 35px;
    color: #fff;
}

